<div class="container">
  <h1 class="text-primary fw-light text-end">Experience</h1>
  <div class="row py-5">
    <div class="">
      <ul class="timeline" *ngFor="let experience of myExperiences">
        <li>
          <div class="text-white fs-4">
            {{ experience.position }}
            <span class="text-primary fs-5">[{{ experience.year }}]</span>
          </div>
          <div class="text-white lead py-2">
            {{ experience.company }}
          </div>
          <div class="py-2">
            <p class="text-white-50" *ngFor="let detail of experience.details">
              {{ detail }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
