<div class="container">
  <div class="text-white">
    <h1 class="text-primary fw-light">About</h1>
    <div class="lead py-2 lh-base text-start" style="text-indent: 60px;">
      Welcome to my portfolio! As a Java full stack developer, I specialize in
      crafting robust, scalable, and dynamic web applications. With expertise in
      both front-end and back-end technologies, I am proficient in Java, Spring
      Boot, JavaScript, Angular, HTML, CSS, and more. Through innovative design
      and meticulous coding, I strive to deliver seamless user experiences and
      optimized performance.
    </div>
  </div>
</div>
