<app-nav></app-nav>
<section>
  <div class="text-center p-5 text-sm-start">
    <div class="container">
      <div class="d-md-flex align-items-center justify-content-between">
        <img
          class="rounded-circle"
          src="../../assets/images/my-image1.jpeg"
          alt="sajansthapit"
        />

        <div class="mb-sm-5">
          <h1 class="text-white">
            Java FullStack
            <span class="text-primary">Developer </span>
          </h1>
          <p class="lead my-4 text-white-50">
            I specialize in crafting robust, scalable, and dynamic web
            applications.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
