<app-nav></app-nav>
<section class="py-5">
  <div class="text-center text-sm-start">
    <div class="container">
      <div class="d-md-flex align-items-center justify-content-around">
        <img
          class="img-fluid d-sm-block rounded-circle"
          src="../../assets/images/my-image.png"
          alt=""
        />
        <div class="mb-sm-5 text-white py-5 mt-5">
          <div>
            <span class="fw-light" style="font-size: 3.5rem">I'M </span
            ><span class="px-3 fw-ligt text-primary" style="font-size: 5rem"
              >Sajan Sthapit</span
            >
          </div>
          <div class="py-3 fw-light" style="font-size: 1.5rem">
            FullStack Java Developer
          </div>
          <div class="py-4">
            <button class="btn btn-outline-primary py-2">Contact Me</button>
          </div>
          <div class="py-4 d-sm-flex gap-4">
            <i class="bi bi-linkedin px-3 px-sm-0 fs-3"></i>
            <i class="bi bi-instagram px-3 px-sm-0 fs-3"></i>
            <i class="bi bi-facebook px-3 px-sm-0 fs-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <app-about></app-about>
</section>

<section class="py-5">
  <app-skills></app-skills>
</section>

<section class="py-5">
  <app-experience></app-experience>
</section>

<section class="py-2">
  <app-footer></app-footer>
</section>
